
.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0
}

.mobile {
  width: 340px;
  height: 700px;
  margin: 12px; 
  background: black;
}

.mobile > header {
  background: black;
  height: 50px;
}

.fa:before{
    color: white;
    font-size:30px;
}

.fa-arrow-left:before{
    margin-left:15px;
}

.fa-bars:before{
    margin-left:250px;
}

.mobile > ul {
  list-style: none;
  padding: 0;
}

.mobile > footer {
  background: #1A237E;
  height: 80px;
  margin-top: 100px;
}

.media{
    display:flex;
    align-items:flex-start;
    margin-left: 20px;
    flex: 1 1 auto;
    margin: 40px 0;
    margin-left: 10px;
}

.media-body{
    flex:1;
}

.media-object{
    order:1;
}

p, h3{
    color: white;
    margin-left: 20px;
}
