
body{
    display:flex;
}

aside{
    width:20vw;
}

main{
    flex:1;
}

* {
  box-sizing: border-box;
}

aside {
  background: gray;
  padding: 100px;
}

main {
  background: lightgray;
  padding: 100px;
}
